<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="rename.marker.result"
         name="RenameExpandResult"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="markerFlag">
      </attribute>
      <attribute
            name="recommendRefactorType">
      </attribute>
      <attribute
            name="recommendProjectName">
      </attribute>
      <attribute
            name="recommendPackageName">
      </attribute>
      <attribute
            name="recommendTypeName">
      </attribute>
      <attribute
            name="recommendStartPosition">
      </attribute>
      <attribute
            name="recommendSubsequentName">
      </attribute>
   </extension>
   <extension
         id="rename.annotation.result"
         name="Result Annotation"
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="rename.annatation.result"
            colorPreferenceKey="clcolor"
            colorPreferenceValue="255,0,0"
            icon="icons/plugin.png"
            label="rename.annotation.result"
            overviewRulerPreferenceKey="clruler"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="cltext"
            textPreferenceValue="true"
            textStylePreferenceKey="clstyle"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceKey="clvertical"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="rename.marker.result"
            name="rename.annatation.result"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="rename.marker.ResolutionGenerator"
            markerType="rename.marker.result">
         <attribute
               name="markerFlag"
               value="result">
         </attribute>
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="rename.common.EaryStartUp"></startup>
   </extension>

</plugin>
